<% layout('../layouts/header') -%>
<section class="hero is-fullheight-with-navbar has-background-white" id="about" style="overflow: hidden;">
	<div class="hero-body">
		<div class="container has-text-black">
			<h1 class="title is-size-1 has-text-weight-bold has-text-black has-text-centered" style="margin-top: 32px;" data-aos="fade-right" data-aos-delay="150" data-aos-duration="500">
				Update
			</h1>
			<div class="columns is-centered">
				<div class="column has-text-centered" data-aos="fade-right" data-aos-delay="140" data-aos-duration="500">
					<h2 class="subtitle is-size-3 has-text-black">
						Update Employee
					</h2>
					<form action="/update/<%= employees.id %>" method="POST">
						<div class="field">
							<div class="user">
								<input class="input is-large" name="username" type="text" placeholder="Username*" pattern="[A-Za-z].{4,}"  autofocus="" value="<%= employees.username %>">
							</div>
						</div>

						<div class="field">
							<div class="email">
								<input class="input is-large" name="email" type="email" placeholder="Email*" value="<%= employees.email %>">
							</div>
						</div>

						<div class="field">
							<div class="firstname">
								<input class="input is-large" name="firstName" type="text" placeholder="First Name" value="<%= employees.firstName %>">
							</div>
						</div>

						<div class="field">
							<div class="lastname">
								<input class="input is-large" name="lastName" type="text" placeholder="Last Name" value="<%= employees.lastName %>">
							</div>
						</div>

						<div class="field">
							<div class="control">
						    	<div class="select is-large">
						    		<select name="accountType">
						    			<option value="Admin">Admin</option>
						    			<option value="Employee">Employee</option>
						      		</select>
						    	</div>
						  	</div>
						</div>

						<button class="button is-block is-info is-large is-fullwidth" name="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>